In [1]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Text, DateTime, Float, Boolean, ForeignKey, Table
from sqlalchemy.orm import relationship
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

In [2]:
DB_URI = 'postgresql://postgres@localhost:5532/sqla'
engine = create_engine(DB_URI, echo=True)
Session = sessionmaker(bind=engine)
s = Session()

In [3]:
# /!\ DROP MODEL IN DB /!\
Base.metadata.drop_all(bind=engine)
Base = declarative_base()

NameError: name 'Base' is not defined

In [ ]:
Base = declarative_base()

In [145]:
DB_URI = 'postgresql://postgres@localhost:5532/sqla'
engine = create_engine(DB_URI, echo=True)
Session = sessionmaker(bind=engine)
s = Session()
s.rollback()

In [146]:
def populate(model, rows):
    s.add_all([model(**row) for row in rows])
    s.commit()

In [147]:
def create(model):
    s.add(model)
    s.commit()

In [148]:
"""
A basic Many to One Relationship
"""

class PlayerModel(Base):
    """Data model for players."""
    __tablename__ = "players"

    id = Column(Integer,
                primary_key=True,
                nullable=False)
    team_id = Column(Integer,
                     ForeignKey('teams.id'),
                     nullable=False)
    name = Column(String(100),
                  nullable=False)
    position = Column(String(100),
                      nullable=False)

    # Relationships
    team = relationship("TeamModel", backref="players")
    
    def __repr__(self):
        return '<Person model {}>'.format(self.id)


class TeamModel(Base):
    """Data model for people."""
    __tablename__ = "teams"

    id = Column(Integer,
                primary_key=True,
                nullable=False,
    )
    name = Column(String(100),
                  nullable=False)
    city = Column(String(100),
                  nullable=False)

    def __repr__(self):
        return '<Team model {}>'.format(self.id)

In [149]:
# PlayerModel.__table__.drop(engine)
# TeamModel.__table__.drop(engine)

In [150]:


association_table = Table('association', Base.metadata,
    Column('left_id', Integer, ForeignKey('left.id')),
    Column('right_id', String, ForeignKey('right.id'))
)


class Parent(Base):
    __tablename__ = 'left'
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    children = relationship(
        "Child",
        secondary=association_table,
        back_populates="parents")


class Child(Base):
    __tablename__ = 'right'
    id = Column(String, primary_key=True, )
    parents = relationship(
        "Parent",
        secondary=association_table,
        back_populates="children")

In [151]:
# association_table.drop(engine)
# Child.__table__.drop(engine)
# Parent.__table__.drop(engine)

In [152]:
# /!\ WRITE MODEL IN DB /!\
Base.metadata.create_all(engine)

2020-02-04 02:10:19,041 INFO sqlalchemy.engine.base.Engine select version()
2020-02-04 02:10:19,043 INFO sqlalchemy.engine.base.Engine {}
2020-02-04 02:10:19,047 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-02-04 02:10:19,048 INFO sqlalchemy.engine.base.Engine {}
2020-02-04 02:10:19,053 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-02-04 02:10:19,054 INFO sqlalchemy.engine.base.Engine {}
2020-02-04 02:10:19,059 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-02-04 02:10:19,060 INFO sqlalchemy.engine.base.Engine {}
2020-02-04 02:10:19,067 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-02-04 02:10:19,069 INFO sqlalchemy.engine.base.Engine {}
2020-02-04 02:10:19,073 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-02-04 02:10:19,074 INFO sqlalchemy.engine.base.Engine {'name': u'players'}
2020-02-04 02:10:19,078 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-02-04 02:10:19,080 INFO sqlalchemy.engine.base.Engine {'name': u'left'}
2020-02-04 02:10:19,084 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-02-04 02:10:19,086 INFO sqlalchemy.engine.base.Engine {'name': u'right'}
2020-02-04 02:10:19,090 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-02-04 02:10:19,092 INFO sqlalchemy.engine.base.Engine {'name': u'association'}
2020-02-04 02:10:19,095 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2020-02-04 02:10:19,097 INFO sqlalchemy.engine.base.Engine {'name': u'teams'}
2020-02-04 02:10:19,103 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "left" (
	id SERIAL NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2020-02-04 02:10:19,105 INFO sqlalchemy.engine.base.Engine {}
2020-02-04 02:10:19,120 INFO sqlalchemy.engine.base.Engine COMMIT
2020-02-04 02:10:19,126 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "right" (
	id VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2020-02-04 02:10:19,127 INFO sqlalchemy.engine.base.Engine {}
2020-02-04 02:10:19,138 INFO sqlalchemy.engine.base.Engine COMMIT
2020-02-04 02:10:19,143 INFO sqlalchemy.engine.base.Engine
CREATE TABLE teams (
	id SERIAL NOT NULL,
	name VARCHAR(100) NOT NULL,
	city VARCHAR(100) NOT NULL,
	PRIMARY KEY (id)
)


2020-02-04 02:10:19,144 INFO sqlalchemy.engine.base.Engine {}
2020-02-04 02:10:19,152 INFO sqlalchemy.engine.base.Engine COMMIT
2020-02-04 02:10:19,159 INFO sqlalchemy.engine.base.Engine
CREATE TABLE players (
	id SERIAL NOT NULL,
	team_id INTEGER NOT NULL,
	name VARCHAR(100) NOT NULL,
	position VARCHAR(100) NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(team_id) REFERENCES teams (id)
)


2020-02-04 02:10:19,160 INFO sqlalchemy.engine.base.Engine {}
2020-02-04 02:10:19,173 INFO sqlalchemy.engine.base.Engine COMMIT
2020-02-04 02:10:19,178 INFO sqlalchemy.engine.base.Engine
CREATE TABLE association (
	left_id INTEGER,
	right_id VARCHAR,
	FOREIGN KEY(left_id) REFERENCES "left" (id),
	FOREIGN KEY(right_id) REFERENCES "right" (id)
)


2020-02-04 02:10:19,180 INFO sqlalchemy.engine.base.Engine {}
2020-02-04 02:10:19,189 INFO sqlalchemy.engine.base.Engine COMMIT

True

In [153]:
TEAMS = [
    { 'name': 'PSG', 'city': 'Paris', 'id': 1},
    { 'name': 'OM', 'city': 'Marseille', 'id': 2},
    { 'name': 'OL', 'city': 'Lyon', 'id': 3},
    { 'name': 'LOSC', 'city': 'Lille', 'id': 4},
]
populate(TeamModel, TEAMS)

2020-02-04 02:10:19,221 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-04 02:10:19,224 INFO sqlalchemy.engine.base.Engine INSERT INTO teams (id, name, city) VALUES (%(id)s, %(name)s, %(city)s)
2020-02-04 02:10:19,226 INFO sqlalchemy.engine.base.Engine ({'city': 'Paris', 'id': 1, 'name': 'PSG'}, {'city': 'Marseille', 'id': 2, 'name': 'OM'}, {'city': 'Lyon', 'id': 3, 'name': 'OL'}, {'city': 'Lille', 'id': 4, 'name': 'LOSC'})
2020-02-04 02:10:19,235 INFO sqlalchemy.engine.base.Engine COMMIT

In [154]:
PLAYERS = [
    {'name':'Mbappe', 'position': '9', 'team_id': '1'},
    {'name':'Neymar', 'position': '7', 'team_id': '1'},
    {'name':'Diawara', 'position': '8', 'team_id': '3'},
    {'name':'Benedeto', 'position': '9', 'team_id': '2'},
    {'name':'Payet', 'position': '7', 'team_id': '2'},
    {'name':'Pepe', 'position': '10', 'team_id': '4'},
]
populate(PlayerModel, PLAYERS)

2020-02-04 02:10:19,262 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-04 02:10:19,265 INFO sqlalchemy.engine.base.Engine INSERT INTO players (team_id, name, position) VALUES (%(team_id)s, %(name)s, %(position)s) RETURNING players.id
2020-02-04 02:10:19,267 INFO sqlalchemy.engine.base.Engine {'position': '9', 'team_id': '1', 'name': 'Mbappe'}
2020-02-04 02:10:19,274 INFO sqlalchemy.engine.base.Engine INSERT INTO players (team_id, name, position) VALUES (%(team_id)s, %(name)s, %(position)s) RETURNING players.id
2020-02-04 02:10:19,275 INFO sqlalchemy.engine.base.Engine {'position': '7', 'team_id': '1', 'name': 'Neymar'}
2020-02-04 02:10:19,279 INFO sqlalchemy.engine.base.Engine INSERT INTO players (team_id, name, position) VALUES (%(team_id)s, %(name)s, %(position)s) RETURNING players.id
2020-02-04 02:10:19,281 INFO sqlalchemy.engine.base.Engine {'position': '8', 'team_id': '3', 'name': 'Diawara'}
2020-02-04 02:10:19,286 INFO sqlalchemy.engine.base.Engine INSERT INTO players (team_id, name, position) VALUES (%(team_id)s, %(name)s, %(position)s) RETURNING players.id
2020-02-04 02:10:19,287 INFO sqlalchemy.engine.base.Engine {'position': '9', 'team_id': '2', 'name': 'Benedeto'}
2020-02-04 02:10:19,291 INFO sqlalchemy.engine.base.Engine INSERT INTO players (team_id, name, position) VALUES (%(team_id)s, %(name)s, %(position)s) RETURNING players.id
2020-02-04 02:10:19,294 INFO sqlalchemy.engine.base.Engine {'position': '7', 'team_id': '2', 'name': 'Payet'}
2020-02-04 02:10:19,298 INFO sqlalchemy.engine.base.Engine INSERT INTO players (team_id, name, position) VALUES (%(team_id)s, %(name)s, %(position)s) RETURNING players.id
2020-02-04 02:10:19,300 INFO sqlalchemy.engine.base.Engine {'position': '10', 'team_id': '4', 'name': 'Pepe'}
2020-02-04 02:10:19,304 INFO sqlalchemy.engine.base.Engine COMMIT

In [155]:
populate(Parent, [{'id':1, 'name': 'x'}, {'id':2, 'name': 'y'}])

2020-02-04 02:10:19,324 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-04 02:10:19,327 INFO sqlalchemy.engine.base.Engine INSERT INTO "left" (id, name) VALUES (%(id)s, %(name)s)
2020-02-04 02:10:19,330 INFO sqlalchemy.engine.base.Engine ({'id': 1, 'name': 'x'}, {'id': 2, 'name': 'y'})
2020-02-04 02:10:19,337 INFO sqlalchemy.engine.base.Engine COMMIT

In [156]:
populate(Child, [
    {'id': 'FR',}, {'id': 'ES'}, {'id': 'IT'},{'id': 'EN'}
])

2020-02-04 02:10:19,354 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-04 02:10:19,358 INFO sqlalchemy.engine.base.Engine INSERT INTO "right" (id) VALUES (%(id)s)
2020-02-04 02:10:19,359 INFO sqlalchemy.engine.base.Engine ({'id': 'FR'}, {'id': 'ES'}, {'id': 'IT'}, {'id': 'EN'})
2020-02-04 02:10:19,369 INFO sqlalchemy.engine.base.Engine COMMIT

In [157]:
p = s.query(Parent).filter_by(id=1).first()

2020-02-04 02:10:19,388 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-02-04 02:10:19,392 INFO sqlalchemy.engine.base.Engine SELECT "left".id AS left_id, "left".name AS left_name
FROM "left"
WHERE "left".id = %(id_1)s
 LIMIT %(param_1)s
2020-02-04 02:10:19,393 INFO sqlalchemy.engine.base.Engine {'id_1': 1, 'param_1': 1}

In [158]:
p.children

2020-02-04 02:10:19,411 INFO sqlalchemy.engine.base.Engine SELECT "right".id AS right_id
FROM "right", association
WHERE %(param_1)s = association.left_id AND "right".id = association.right_id
2020-02-04 02:10:19,414 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

[]

In [159]:
p.children.append(s.query(Child).filter_by(id='ES').first())

2020-02-04 02:10:19,441 INFO sqlalchemy.engine.base.Engine SELECT "right".id AS right_id
FROM "right"
WHERE "right".id = %(id_1)s
 LIMIT %(param_1)s
2020-02-04 02:10:19,443 INFO sqlalchemy.engine.base.Engine {'id_1': 'ES', 'param_1': 1}

In [160]:
s.add(p)

In [161]:
s.commit()

2020-02-04 02:10:19,476 INFO sqlalchemy.engine.base.Engine INSERT INTO association (left_id, right_id) VALUES (%(left_id)s, %(right_id)s)
2020-02-04 02:10:19,480 INFO sqlalchemy.engine.base.Engine {'left_id': 1, 'right_id': u'ES'}
2020-02-04 02:10:19,488 INFO sqlalchemy.engine.base.Engine COMMIT

In [171]:
# multi extract dict 

o = {
    'a':1,
    'b':2,
    'c':3,
}

a, b, c = map(o.get, ['a', 'b', 'd'])